{% extends 'food/base.html' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img src="{{ object.item_image }}" class="card" height="200px" width="100%">
            </div>
            <div class="col-md-5">
                <h1 style="text-align:center"> {{ object.item_name }} </h1>
                <h2 style="text-align:center"> {{ object.item_desc }} </h2>
                <h3 style="text-align:center"> ₹{{ object.item_price }} </h3>
                <h6 style="text-align:center"> This Item is added by : {{ object.user_name }} </h6>
                <a href="{% url 'food:delete_item' object.id %}" class="btn btn-outline-danger">Delete Item</a>
            </div>
        </div>
    </div>
{% endblock %}