{% extends 'food/base.html' %}
{% block body %}
    {% include "search.html" %}
    {% for item in item_list %}

    <div class="row">
        <div class="col-md-4 offset-md-2">
            <img class="card" width="75%" height="100px" src="{{ item.item_image }}"/>
        </div>
        <div class="col-md-4">
            <h3> {{ item.item_name }} </h3>
            <h5> {{ item.item_desc }} </h5>
            <h6> ₹{{ item.item_price }} </h6>
        </div>
        <div class="col-md-2">
            <a href="{% url 'food:detail' item.id %}" class="btn btn-info">View Details</a>
        </div>
    </div>

    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}
