{% extends 'food/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
{% block body %}
<body style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid justify-content-center">
        <div class="row ">
            <div class="col-sm-12 col-md-6 col-lg-6 offset-md-3 mt-5 mb-5">
                <div class="card shadow rounded-lg mx-auto" style="max-width: 450px;">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title my-3">
                            <h5 class="mb-0">Add Item</h5>
                        </div>
                    </div>
                    <div class="card-body px-4">
                        <form method="POST" class="row g-3 mb-3">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="col-md-5 mb-3">
                                <strong><label for="floatingInput">{{field.label_tag}}</label></strong>
                            </div>
                            <div class="col-md-7 mb-3">
                                {{ field }}
                                
                            </div>
                            {% endfor %}
                            <div class="form-group text-center">
                                <button class="btn btn-outline-primary" type="submit">Update Item</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>