{% extends 'food/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
{% block body %}
<body style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid justify-content-center">
        <div class="row ">
            <div class="col-sm-8 col-md-6 col-lg-4 offset-md-4 mt-5 mb-5">
                <div class="card shadow rounded-lg mx-auto" style="max-width: 450px;">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title my-3">
                            <h5 class="mb-0">Add Item</h5>
                        </div>
                    </div>
                    <div class="card-body text-center px-4">
                        <form method="POST" class="form-group mb-3">
                            {% csrf_token %}
                        <!--    <div class="form-group mb-3">
                                <input type="text" id="item_name" name="item_name" placeholder="Item Name" class="form-control mb-3" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" id="item_desc" name="item_desc" placeholder="Item Description" class="form-control mb-3" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="number" id="item_price" name="item_price" placeholder="Item Price" class="form-control mb-3" required>                                
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" id="item_image" name="item_image" placeholder="Item Image Link" class="form-control mb-3">
                                
                            </div>
                            {% if form.errors %}
                            <div class="alert alert-warning" role="alert">
                                <ul>{% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            <button class="btn btn-success" type="submit">Save Item</button>
                        -->
                        {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field.as_p }}
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" {% if field.field.required %} required{% endif %}>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit">Save Item</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>