{% extends 'food/base.html' %}
{% block body %}

<form method="POST">
    {% csrf_token %}
    <h2 class="fs-2 fw-semibold text-center">Are you sure you want to delete {{item.item_name}} </h2>
    <div class="text-center">
        <button type="submit" class="btn btn-warning">Confirm</button>
    </div>
</form>
{% endblock %}