{% extends 'food/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&amp;subset=latin,latin-ext'><link rel="stylesheet" href="./style.css">

</head>
{% block body %}
<body style="background-image: url('{% static "users/images/bg_image.jpg" %}'); background-size: cover; background-repeat: no-repeat;">
    
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 offset-md-4 mt-5 mb-5">
                <div class="card mt-5">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title">
                            <h5 class="mb-0">Log In</h5>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group mt-1 mb-3">
                                <label for="{{ form.username.id_for_label }}">
                                    {{ form.username.label_tag }}
                                </label>
                                {{ form.username }}
                            </div>
                            <div class="form-group ms-1 mb-3">
                                <label for="{{ form.password.id_for_label }}">
                                    {{ form.password.label_tag }}
                                </label>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-primary">Login</button>
                            </div>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>