{% extends 'food/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
{% block body %}
<body style="background-image: url('{% static "users/images/background_image.jpeg" %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid justify-content-center">
        <div class="row ">
            <div class="col-sm-8 col-md-6 col-lg-4 offset-md-4 mt-5 mb-5">
                <div class="card shadow rounded-lg mx-auto" style="max-width: 450px;">
                    <div class="card-header bg-info text-white text-center">
                        <div class="card-title my-3">
                            <h5 class="mb-0">Register</h5>
                        </div>
                    </div>
                    <div class="card-body text-center px-4">
                        <form method="POST" class="form-group mb-3">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <input type="text" id="username" name="username" placeholder="Username" class="form-control mb-3" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" id="email" name="email" placeholder="Email" class="form-control mb-3" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" id="password1" name="password1" placeholder="Password" class="form-control mb-3" required>                                
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" id="password2" name="password2" placeholder="Confirm Password" class="form-control mb-3" required>
                                
                            </div>
                            {% if form.errors %}
                            <div class="alert alert-warning" role="alert">
                                <ul>{% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            <div class="d-flex justify-content-center mt-4">
                                <p>Already have an account?<a href="{% url 'login' %}" class="text-primary"> LogIn</a></p>
                            </div>
                            <div class="form-group gap-2">
                                <button class="btn btn-outline-info" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
{% endblock %}
</html>