<nav class="mt-4" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1"><span aria-hidden="true">First</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page.previous_page_number }}"> <span aria-hidden="true">&laquo;</span></a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
        <li class="page-item {% if i == page.number %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page.has_next %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ page.next_page_number }}"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page.paginator.num_pages }}"><span aria-hidden="true">Last</span></a>
        </li>
            {% endif %}
    </ul>
</nav>