<form action="" method="get">
    <div class="input-group mt-4 mb-5 d-flex justify-content-center">
        <div class="col-md-6">
        <input type="search" name="itemname" id="search_box" class="form-control" list="datalistOptions" placeholder="Type to search...">
        <datalist id="datalistOptions">
            {% for item in item_list %}
            <option value="{{ item.item_name }}">
            {% endfor %}
        </datalist>
        </div>
        <!--<div class="col-md-2">
        <button class="btn btn-outline-info" type="submit" id="button-addon">Search</button>
        </div>-->
    </div>
</form>